<html>
  <head>
    <link rel="stylesheet" href="1.css">
  </head>
  <body bgcolor="#f5e65d">
    <center><h1><u>Sowmya's Favourites</u></h1></center>

    <div>
    <h2>Player:{{Player}}</h2>
    <h3><a href="https://en.wikipedia.org/wiki/AB_de_Villiers">click here</a></h3>
    <img src="abd.webp">
    </div>

    <div>
    <h2>Animal:{{Animal}}</h2>
    <h3><a href="https://en.wikipedia.org/wiki/Lion">click here</a></h3>
    <img src="lion.jpeg">
    </div>

    <div>
    <h2>Subject:{{Subject}}</h2>
    <h3><a href="https://en.wikipedia.org/wiki/Python_(programming_language)">click here</a></h3>
    <img src="python.png">
    </div>
  </body>
</html>
